@media (max-width: 739px)
{  
    .s-full-width ,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt16{
        margin-top: 16px !important;
    }
    .s-mt8{
        margin-top: 8px !important;
    } 
    #header {
        overflow: hidden;
    }
    #nav {
     display: block;   
    }
    #nav li .subnav{
        position: initial;
        background-color: #333 !important;
    }
    #nav .subnav a {
        color: #ffff;
        padding: 5px 41px;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #header .search-button {
        display: none;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    
    
    
}
@media (min-width: 739px) and (max-width: 1023px){

}
@media (max-width: 1023px){
    .btn {
        padding: 16px 24px;
    }
    
}
@keyframes modalFadeIn {
    from {
        transform: translateY(-100px);
    } 
    to {
        transform: translateY(0px);
    }
}
@keyframes modalLeftToRight {
    from {
        transform: translateX(-200px);
    } 
    to {
        transform: translateX(0px);
    }
}
@keyframes modalRightToLeft {
    from {
        transform: translateX(200px);
    } 
    to {
        transform: translateX(0px);
    }
}
@keyframes modalUpToDown {
    from {
        transform: translateY(-300px);
    } 
    to {
        transform: translateY(0px);
    }
}
@keyframes modalDownToUp {
    from {
        transform: translateY(600px);
    } 
    to {
        transform: translateY(0px);
    }
}
@keyframes modalRightToLeft1 {
    from {
        transform: translateX(400px);
    } 
    to {
        transform: translateX(0px);
    }
}