/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.active-btn {
    background: #ddbc02 !important;
    color: #000 !important;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes move_right{
    0%{left:0px;}
    100%{left:500px;}
}
.open {
    display: block !important;
    
}
.close {
    display: none ;
}
.active {
    background: rgb(17, 218, 197) !important;
}
.pull-right{
    float: right;
}
.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
#main {

}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.text-center{
    text-align: center !important;
}
.mglr-32 {
    margin-left: 32px !important ;
    margin-right: 32px !important;
}
.mgl-64 {
    margin-left: 64px!important;
}
.mgr-64 {
    margin-right: 64px!important;
}
.mgl-32 {
    margin-left: 32px!important;
}
.mgr-32 {
    margin-right: 32px!important;
}
.col{
    float: left;
    padding:0 16px;
    
}

.row{
    margin-left: -8px ;
    margin-right: -8px ;
}
.row::after{
    content: "";
    display: block;
    clear:both ;
}
.col-full{
    width: 100%;
}

.col-third{
    width: 33.3333%;
    
}
.col-two{
    width: 50%;
}
.col-four{
    width: 25%;
}
.frames {
    padding: 16px 16px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
#icon-toggle {
    display: block;
}
.device-value {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    width: 100%;
    line-height: 50px;
    font-size: 21px;
}
#icon-toggle:active {
    box-shadow:  4px 4px 6px 0 #409292,
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 #448a8a,
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      background-color: #03f437 !important;
      color: #000 !important;
}
/*  */
#header{
    background-color:#7a7777!important ;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 18px;
    
}
#header #nav{
    display: inline-block;  
}
#nav > li{
    display: inline-block;
    position: relative;
}
#nav > li > a {
    color: #fff;
    line-height: 75px;
    text-transform: uppercase;
    
}
#nav li a{
    text-decoration: none;
    letter-spacing: 0.5px; 
    padding: 0px 24px;
    display: block;
}
#nav , .subnav{
    list-style-type: none;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover a ,
#nav > li:hover > a
{
    background-color: #ccc;
    color: #000;
}
#nav li .subnav{
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px;
    display: none;
    min-width: 160px;
    position: absolute;
}
#nav .subnav a{
    color: black;
    padding: 0px 12px;
    line-height: 38px;
}
#subnav li{
    display: block;
}
.mobile-menu-btn{
    display: none;
}

.login-button {
    float: right;
    padding: 0px 16px; 
    line-height: 75px;
    display: inline-block;
    width: 130px;
    text-align: center;  
}
.login-button:hover a {
    background-color: #059862;
} 
.login-button a {
    display: inline;
    color: #ffff;
    text-decoration: none;
    padding: 8px 24px; 
    background-color: #04aa6d;
    width: 130px;
    border-radius:25px;
}
#wapper-login{
    position: relative;
    top: 25%;
    left: 50%;
    width: 478px;
    margin: 0;
    transform: translate(-50%,0%);
    max-width: 100%;
    min-height: 100%;
    z-index: 10;
    display: none;
    max-width: 90%;
}
.close-login {
    text-align: right;
    
}
.close-login:hover .close-icon {
    background-color: #fd094d;
    
}
.close-login .close-icon {
    padding: 4px;
    cursor: pointer;
}
#form-login {
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    padding: 48px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    text-align: left;
    font-family: Source Sans Pro;
    animation: modalFadeIn ease 0.4s;
}
#form-login .form-heading {
    font-size: 29px;
    font-weight: 700;
    text-align: left;
    display: block;
    padding: 2px 0;
}
#form-login .form-username {
    display: flex;
    flex-direction: column;
}
.fif_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 29px;
}
#form-login label {
    font-weight: 600;
    font-size: 16px;
}
#form-login span {
    font-size: 14px;
}
#form-login span a {
    color: #04aa6d;
    margin-left: 6px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
#form-login .form-input input{
    width: 100%;
    padding: 15px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
}
#form-login .form-pass span {
    color: #282a35;
    font-weight: 600;
    cursor: pointer;
    
}

.form-pass span i {
    margin-right: 4px;
}
#form-login .form-submit:hover{
    background-color: #059862;
}
#form-login .form-submit {
    margin-top: 55px;
    width: 100%;
    color: #fff;
    background-color: #04aa6d;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: 0;
}
#form-login .forgot_pass {
    margin-top: 18px;
    text-align: right;
}
#form-login .forgot_pass:hover a {
    color: #04aa6d;
}
#form-login .forgot_pass a {
    font-size: 14px;
    color: #282a35;
    text-decoration: none;
    font-weight: 600;
    
}
#content{

}
.head {
    font-size: 30px;
    color: #fff;
    margin: 25px 0;
    text-align: center;
    font-weight: 400;
}
#control{
    padding-top: 75px;
    background-color: #031321;
}
#nav-device {
    display: flex;
    max-width: 1000px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-around;
}
#nav-device span {
    padding: 34px;
    background: #323d46;
    border-radius: 15px;
    width: 150px;
    height: 137;
    text-align: center;
    display: inline-block;
    box-shadow:  0px -4px 7px  #79848d ;
    cursor: pointer;
}
#nav-device span:hover {
    background: #1a2b38;
}
div#device {
    position: relative;
    /* z-index: 0; */
    /* left: 10%; */
}
#nav-device span i {
    width: 100%;
    font-size: 50px;
    position: relative;
    color: #ffffff;
}
/* animation đèn*/
#lamp-bedroom {
    animation: modalLeftToRight ease 0.4s; 
}
#Lamp-kitchen {
    animation: modalRightToLeft ease 0.4s; 
}
#lamp-guestRoom {
    animation: modalUpToDown ease 0.4s;
}

/* animation điều hoà*/
#harnomic-bedroom {
    animation: modalLeftToRight ease 0.6s;
}
#harnomic-guestRoom {
    animation: modalRightToLeft1 ease 0.6s;
}
/* animation quạt*/
#Fan-bedroom{
    animation: modalLeftToRight ease 0.9s;
}
#Fan-kitchen{
    animation: modalLeftToRight ease 0.6s;
}
#Fan-guestRooom{
    animation: modalLeftToRight ease 0.3s;
}
/* animation tivi*/
#tivi-bedroom {
    animation: modalUpToDown ease 0.4s;
}
#tivi-guestroom {
    animation: modalDownToUp ease 0.4s;
}
.img{
    width: 100%;
    height: 260px;
    display: block;
}
#control .device-body {
    background-color: #323844;
    padding: 0 12px;
}
#control .device-name {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
}
 #nav-control {
    margin: 12px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#subnav-control {
    margin: 12px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#subnav-control .sub1,
#subnav-control .sub2 {
    cursor: pointer;
    font-size: 23px;
    line-height: 30px;
    width: 45%;
    margin: 16px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #15181f;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: -3px -3px 6px #15181f;
}
#subnav-control .sub2 button {
    padding: 3px;
    border-radius: 30px;
}
.device-body img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.device-body #nav-control .icon-btn {
    position: relative;
    font-size: 32px;
    background-color: #201d0d;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 0 7px #070e0e;  
    cursor: pointer;
}
.device-body #nav-control .icon-btn:hover {
    color: #ffffff;
    box-shadow: 2px 4px 7px  #2d6460 ;
    text-shadow: 0 0 7px #153535;
    background: #091616;
    transition:  .5s;
    transform: scale(1.3);
}

.device-body #nav-control .fa-droplet.icon-btn {
    padding-left: 12px;
    padding-right: 11px;
}
.device-body .control-tivi, 
.device-body .control-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.control-tivi .progress-bar-wrapper, 
.control-temp .progress-bar-wrapper {
    width: 100%;
    height: 50px;
    background-color: #cac5ac;
    margin: 20px 0;
    border-radius: 25px;
    position: relative;
    display: flex;
}
.control-temp .temp-value {

}
.control-tivi .progress-bar,
.control-temp .progress-bar {
    height: 100%;
    width: 50%;
    background: #26c248;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    opacity: 0.8;
}

.icon-minus,
.icon-plus {
    font-size: 40px;
    margin: 5px 12px;
    padding: 4px;
    border-radius: 40%;
    width: 100%;
    background-color: #091a2e;
    color: #ffffff;
    box-shadow: 2px 4px 7px  #051f1d ;
    cursor: pointer;
}
#control span {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    margin: 5px 0;
}
span.timeused {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.device-timeused {
    margin: 15px 0;
}
.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;  
}


.timer-val input[type="number"] 
 {
    width: 50px;
    height: 30px;
}
.timer #save-timer {
    margin-left: 10px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
    background: #03f437;
}
.displayTime {
    display: flex;
}
.toggle-button-cover {
    position: relative;
    padding: 40px 15px 30px 15px;
  }
  
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
.button {
    position: relative;
    top: 50%;
    width: 94px;
    height: 46px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}
  
.button.r,
.button.r .layer {
    border-radius: 100px;
}
  
.button.b2 {
    border-radius: 2px;
}
.switch-toggle {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
  
.knobs {
    z-index: 2;
}
  
.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}
  
  /* Button 1 */
#button-1 .knobs:before {
    content: "OFF";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #f44336;
    border-radius: 50%;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
  
#button-1 .switch-toggle:checked + .knobs:before {
    content: "ON";
    left: 52px;
    background-color: #03f437;
}
  
#button-1 .switch-toggle:checked ~ .layer {
    background-color: #fcebeb;
}
  
#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
    transition: 0.3s ease all;
}
/* Điều khiển quạt */
#speed {

}
#speed .speed-head {
    margin: 20px 20px 10px 10px;
    text-align: left;
    font-size: 20px;
    color: #e850b5;
    font-weight: 600; 
}
#speed .speed-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 10px;
}
#speed .speed-body label {
    text-align: center;
    line-height: 25px;
    color: #297433;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 550;
}
#speed .speed-body input {
    width: 25px;
    height: 25px;
}
  /* Displayed */
#displayed {
    padding-top: 75px;
    background: #073157;
}

.displayed-list .sensor-temp {
    padding-top: 16px;
    padding-right: 100px;
}
.displayed-list .sensor-humidity {
    padding-top: 16px;
    padding-left: 100px;
    
}
#displayed  svg {
    width: 100%;
    height: 100%;
    fill:none;
    stroke:#03f437;
    stroke-width:1px;
    stroke-dasharray: 75 100; 
}
